<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.GpsMapper">
	<insert id="insertGps" parameterType="Gps">
		INSERT INTO GPS (id, bikeNo, latitude, longitude, date) 
		VALUES (#{id},#{bikeNo},#{latitude}, #{longitude}, now());
	</insert>
</mapper>








