<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.HistoryMapper">
	<insert id="insertHistory" parameterType="History">
		INSERT INTO History (id,bikeNo,startTime,endTime,rentalTime,distance,calorie)
		VALUES (#{id},#{bikeNo},#{startTime},#{endTime},#{rentalTime},#{distance},#{calorie})
	</insert>
</mapper>








