<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.NoticeBoardMapper">
	
	<insert id="insertBoard" parameterType="com.bikelong.vo.Board">
		INSERT INTO Board(id, locationNo, category, title, content)
		VALUES(#{id}, #{locationNo}, #{category}, #{title}, #{content})
	</insert>
	
	<select id="selectNoticeBoardList" resultType="com.bikelong.vo.Board">
		SELECT boardNo, title, content, id, date_format(date,'%Y-%m-%d') AS date 
		FROM Board 
		WHERE category=3 ORDER BY boardNo
	</select>
	
</mapper>








