<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.RentalShopMapper">
	
	<select id="selectRentalShop" resultType="RentalShop">
		SELECT rentalShopNo, rentalShopName, location, lat, lng, count
		FROM RentalShop
	</select>
	
	<select id="searchRentalShop" parameterType="hashmap" resultType="RentalShop">
		SELECT rentalShopNo, rentalShopName, location, lat, lng, count
		FROM RentalShop
		WHERE
		<if test='select == "지역"'>
			location LIKE CONCAT('%', #{text}, '%')
		</if>
		<if test='select == "대여소명"'>
			rentalShopName LIKE CONCAT('%', #{text}, '%')
		</if>
	</select>
	
	<select id="selectMobileRentalShop" resultType="RentalShop">
		SELECT rentalShopNo, rentalShopName, location, lat, lng, count
		FROM RentalShop
	</select>
	
	<select id="selectMobileBike" resultType="Bike" parameterType="int">
		SELECT B.bikeNo, B.rentalShopNo, B.state, R.rentalShopName
		FROM Bike B
		JOIN RentalShop R
		ON B.rentalShopNo = R.rentalShopNo
		WHERE B.rentalShopNo = #{rentalShopNo}
	</select>
	
	<select id="selectMobileSearch" resultType="RentalShop" parameterType="String">
		SELECT rentalShopNo, rentalShopName, location, lat, lng, count
		FROM RentalShop
		WHERE rentalShopName LIKE CONCAT('%', #{mSearch}, '%')
	</select>

</mapper>








