<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.ReplyMapper">
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO Reply (id, boardNo, content) 
		VALUES (#{id}, #{boardNo}, #{content})
	</insert>
	
	<select id="selectReplyListByBoardNo" parameterType="int" resultType="Reply">
		SELECT replyNo, id, boardNo, content, date_format(date,'%Y-%m-%d') AS date
		FROM Reply
		WHERE boardNo = #{boardNo}
		order by replyNo;
	</select>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM Reply WHERE replyNo=#{replyNo}
	</delete>
	
	<delete id="deleteReplyListByBoardNo" parameterType="int">
		DELETE FROM Reply WHERE boardNo=#{boardNo}
	</delete>
</mapper>








