<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.SharingBoardMapper">
	
	<insert id="insertBoard" parameterType="SharingBoard">
		INSERT INTO Board(id, locationNo, category, date, title, content, history)
		VALUES(#{id}, #{locationNo}, #{category}, now(), #{title}, #{content}, #{history})
	</insert>
	
	<select id="selectBoardList" parameterType="hashmap" resultType="SharingBoard">
		SELECT b.boardNo, b.id, b.locationNo, date_format(b.date,'%Y-%m-%d') date, b.title, b.content, l.locationName  
		FROM Board b INNER JOIN Location l
		ON b.locationNo = l.locationNo
		WHERE b.category = 2 ORDER BY boardNo DESC
		LIMIT #{from}, #{to}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*)
		FROM Board 
		WHERE category=2
	</select>
	
	<select id="selectBoard" parameterType="hashmap" resultType="SharingBoard">
	
		SELECT b.id , b.locationNo, date_format(b.date,'%Y-%m-%d') date, b.title, b.content, l.locationName, b.history
		FROM Board b INNER JOIN Location l
		ON b.locationNo = l.locationNo 
		WHERE b.boardNo = #{boardNo} AND b.category = 2
		
	</select>
	
	<select id="selectBoardHistory" parameterType="SharingBoard" resultType="History">
		SELECT startTime, endTime
		FROM History
		WHERE historyNo = #{history}  
	</select>
	
	<select id="selectHistory" parameterType="hashmap" resultType="History">
		SELECT historyNo, startTime, endTime
		FROM History
		WHERE id = #{id}  
	</select>
	
	<select id="selectgps" parameterType="hashmap" resultType="History">
		SELECT gpsNo, latitude, longitude  
		FROM GPS
		WHERE date BETWEEN #{startTime} AND #{endTime}
	</select>
	
	<!-- <select id="selectBoardHistory" parameterType="" resultType="">
		SELECT gpsNo, latitude, longitude
		FROM GPS
		WHERE date BETWEEN startTime AND endTime 
	
		SELECT h.startTime, h.endTime
		FROM Board b INNER JOIN History h
		ON b.historyNo = h.historyNo
		WHERE h.historyNo = #{}
	</select> -->

	<update id="updateBoard" parameterType="SharingBoard">
		UPDATE Board
		SET locationNo = #{locationNo}, title = #{title}, content = #{content}, history=#{history}
		WHERE boardNo = #{boardNo} AND id = #{id}
	</update>
	
	<delete id="deleteBoard" parameterType="hashmap">
		DELETE FROM Board
		WHERE boardNo = #{boardNo}	
	</delete>
	
</mapper>
