<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.TrailBoardMapper">
	
	<insert id="insertTrailBoard" parameterType="TrailBoard">
		INSERT INTO Board(id, locationNo, category, date, title, content)
		VALUES(#{id}, #{locationNo}, #{category}, #{date}, #{title}, #{content})
	</insert>
	
	<select id="selectTrailBoardList" resultType="TrailBoard">
		SELECT boardNo, id, locationNo, date, title, content  
		FROM Board
		WHERE category = 1 
	</select>
	
	<select id="selectTrailBoard" parameterType="hashmap" resultType="TrailBoard">
		SELECT id, locationNo, date, title, content
		FROM Board
		WHERE boardNo = #{boardNo} AND category = 1
	</select>
	
</mapper>








