<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bikelong.mapper.TrailBoardMapper">
	
	<insert id="insertBoard" parameterType="TrailBoard">
		INSERT INTO Board(id, locationNo, category, date, title, content)
		VALUES(#{id}, #{locationNo}, #{category}, #{date}, #{title}, #{content})
	</insert>
	
	<select id="selectBoardList" resultType="TrailBoard">
		SELECT b.boardNo, b.id, b.locationNo, b.date, b.title, b.content, l.locationName  
		FROM Board b INNER JOIN Location l
		ON b.locationNo = l.locationNo
		WHERE b.category = 1
	</select>
	
	<select id="selectBoard" parameterType="hashmap" resultType="TrailBoard">
		SELECT b.id , b.locationNo, b.date, b.title, b.content, l.locationName
		FROM Board b INNER JOIN Location l
		ON b.locationNo = l.locationNo 
		WHERE b.boardNo = #{boardNo} AND b.category = 1
	</select>
	
	<update id="updateBoard" parameterType="TrailBoard">
		UPDATE Board
		SET date = #{date}, locationNo = #{locationNo}, title = #{title}, content = #{content}
		WHERE boardNo = #{boardNo}
	</update>
	
	<delete id="deleteBoard" parameterType="hashmap">
		DELETE FROM Board
		WHERE boardNo = #{boardNo}	
	</delete>
	
	
</mapper>






